.btn-primary{
  size: 60vh;

}

body {
  text-align: center;
  text-size-adjust:inherit;
  background-size: cover;
  color: rgb(247, 249, 251);
  background-image: url(/public/ims6.PNG);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
